@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Timestamp: @HttpContext.Request.Headers["X-Timestamp"].</p>
</div>